//demo only

body {
    font-family: system-ui;
    display: grid;
    min-height: 100vh;
    place-content: center;
    overflow: hidden;
}

.orbit {
  --size: 12rem;
  --speed: 120s;
    .center-image {
        width: var(--size);
        position: relative;
        z-index: 10;
        
        img {
            position: absolute;
            transition: opacity 500ms;
            border-radius: 25%;
            
            &:not(:first-child):hover {
                opacity: 0;
            }   
        }
    }

    ul {
        display: grid;
        place-items: center;
        width: var(--size);
        height: var(--size);
        position: relative;
        list-style: none;
        transform-origin: center;
        animation: orbit var(--speed) linear infinite;
        &:hover {
            animation-play-state: paused;
            --orbit-play-state: paused;
      }
    }
    
    li {
        img {
        max-width: 60%;
        max-height: 60%;
        }
        position: absolute;
        width: 8rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        color: var(--white-light);
        display: grid;
        place-items: center;

        @for $i from 0 through 7 {
          &:nth-child(#{$i + 1}) {
            --pulse-delay: #{500ms * $i};
          }
        }

        & > * {
              width: 90%;
              height: 90%;
              display: grid;
              place-items: center;
              border-radius: inherit;
              position: absolute;
          }
        
        > div {
              background-color: var(--icon-bg);
        }

    > p {
        background: var(--text-bg);
        transition: opacity 500ms;
        opacity: 0;
        font-weight: 450;
        text-align: center;
        line-height: 1.2;
      }
      
    &:hover > p {
        opacity: 1;
    }

    .scaler {
      animation: pulse 1.25s var(--pulse-delay) ease-in-out infinite 
      alternate; 
    }

    p.spinner {
      animation: spinReverse var(--speed) linear reverse infinite;
      animation-play-state: var(--spinReverse-play-state, running);
      }
    }

    img.spinner {
      animation: spinReverse var(--speed) linear reverse infinite;
      animation-play-state: var(--spinReverse-play-state, running);
    }

    &:hover {
      animation-play-state: paused;
      --spinReverse-play-state: paused;
  }

  li:nth-child(1) {
      --icon-bg: var(--blue-light);
      --text-bg: var(--blue-dark);
      transform: translate(15rem, 0rem);
  }

  li:nth-child(2) {
    --icon-bg: var(--green-light);
    --text-bg: var(--green-dark);
    transform: translate(11rem, 11rem);
  }

  li:nth-child(3) {
    --icon-bg: var(--purple-light);
    --text-bg: var(--purple-dark);
    transform: translate(0rem, 15rem);
  }

  li:nth-child(4) {
    --icon-bg: var(--red-light);
    --text-bg: var(--red-dark);
    transform: translate(-11rem, 11rem);
  }

  li:nth-child(5) {
    --icon-bg: var(--brown-light);
    --text-bg: var(--brown-dark);
    transform: translate(-15rem, 0rem);
  }

  li:nth-child(6) {
    --icon-bg: var(--yellow-light);
    --text-bg: var(--yellow-dark);
    transform: translate(-11rem, -11rem);
  }

  li:nth-child(7) {
    --icon-bg: var(--pink-light);
    --text-bg: var(--pink-dark);
    transform: translate(0rem, -15rem);
}

li:nth-child(8) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(11rem, -11rem);
  }
}

@keyframes orbit {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes spinReverse {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes pulse {
  100% {
    transform: scaleX(1.5) scaleY(1.5);
  }
}